.main-container {
  margin-top: 100px;
  margin-bottom: 50px;
}

.search-criteria {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.font-reminder {
  ::placeholder {
    font-family: Vazirmatn !important;
  }
}

.transparent-paper {
  background-color: rgba(255, 255 , 255, 0.4);
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px #229bcc;
  padding: 3%;
}